# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-XQzN8lKX3xOySVYH
OWNER_NUMBER=2348133258584
WORKTYPE=private
PREFIX=[.!?]
TIMEZONE=Africa/Lagos
OWNER_NAME=MajorMic︻╦デ╤╾━
BOT_NAME=Kord
RENDER_API_KEY=rnd_ixNUB6TMXSuxTfX6OXsd9039W3YX
